<!-- ********** CALL TO ACTION SECTION ********** --> 
<div id="cta">
	<div class="container">
		<div class="row">
			<h2>We're getting married.  Not sure if you knew that or not...</h2>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/CTA -->

<!-- ********** INTRODUCTION SECTION ********** --> 
<div class="container mt">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 centered">
			<h2> November 8, 2015</h2>
			<hr class="aligncenter">
			<h4>Fort Lauderdale, Florida</h4>
		</div><!-- /col-md-6-->
	</div><!--/row -->

	<div class="row mt">
		<div class="col-md-6">
			<p><i class="ion-android-information green alignleft"></i> Amy and Shane met waaaaaaay back in 2012.  After literally 10s of hours, they decided to meet.  "But I'm not really looking for anything serious," they both cried simultaneously.</p>
			<p class="mt"><i class="ion-android-information green alignleft"></i> Later that month, after they decided to become exclusively each other's #1, they made sure to tell each other "We'll never get married!"  They even cried that one in unison as well!</p>
			<p class="mt"><i class="ion-android-information green alignleft"></i> So yeah...that seemed to work really well, didn't it?</p>
		</div><!--/col-md-6 -->

		<div class="col-md-6 of">
			<%= image_tag("sitting.png", class:"img-responsive aligncenter", "data-effect":"slide-right") %>
		</div>
	</div><!--/row -->
</div><!--/container -->

<!-- ********** HOW IT WORKS SECTION ********** --> 
<div id="g">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>How It Works</h2>
				<hr class="aligncenter">
				<h4>The Steps Of Our Success</h4>
			</div><!-- /col-md-6-->
		</div><!--/ row-->

		<div class="row mt">
			<div class="col-md-4">
				<h4 class="green">STEP 1</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<h4 class="green mt">STEP 2</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4">
				<%= image_tag("item.png", class:"img-responsive aligncenter", "data-effect":"slide-bottom") %> 
			</div><!--/col-md-4-->
			<div class="col-md-4">
				<h4 class="green">STEP 3</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<h4 class="green mt">STEP 4</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div><!--/col-md-4-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 col-md-offset-4 centered">
				<button class="btn btn-lg btn-green">Download Our PDF</button>
			</div><!--/col-md-4-->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/G -->

<!-- ********** CALL TO ACTION SECTION ********** --> 
<div id="cta">
	<div class="container">
		<div class="row">
			<h2>More than <b>65%</b> of users check their mail on a mobile device.</h2>
			<h2>In 2014, <b>40%</b> made a purchase through their smartphone.</h2>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/CTA -->

<!-- ********** FEATURES SECTION - Part 1 ********** --> 
<div class="container mt">
	<div class="row">
		<div class="col-md-4 centered">
			<i class="ion-compass green big"></i>
			<p class="green">Don't miss your opportunity</p>
			<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div><!--/col-md-4-->
		<div class="col-md-4 centered">
			<i class="ion-disc green big"></i>
			<p class="green">Save on external devices</p>
			<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div><!--/col-md-4-->
		<div class="col-md-4 centered">
			<i class="ion-earth green big"></i>
			<p class="green">Work in every place</p>
			<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div><!--/col-md-4-->
	</div><!--/row -->

	<div class="row mt">
		<div class="col-md-12">
			<%= image_tag("display.jpg", class:"img-responsive aligncenter", "data-effect":"slide-bottom") %> 
		</div><!--/col-md-12-->
	</div><!--/row -->
</div><!--/container -->

<!-- ********** FEATURES SECTION - Part 2 ********** --> 
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>App Features</h2>
				<hr class="aligncenter">
				<h4>What You Need To Know</h4>
			</div><!-- /col-md-6-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 centered">
				<i class="ion-cube green big"></i>
				<p class="green">All Included in a big package</p>
				<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 centered">
				<i class="ion-document-text green big"></i>
				<p class="green">Complete documentation</p>
				<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 centered">
				<i class="ion-email green big"></i>
				<p class="green">Free email support</p>
				<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div><!--/col-md-4-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 centered">
				<i class="ion-eye green big"></i>
				<p class="green">Retina device ready</p>
				<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 centered">
				<i class="ion-fireball green big"></i>
				<p class="green">Hot trends used</p>
				<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 centered">
				<i class="ion-heart green big"></i>
				<p class="green">Crafted with love</p>
				<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div><!--/col-md-4-->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/g -->

<!-- ********** TESTIMONIAL SECTION ********** --> 
<div id="testimonial">
	<div class="container">
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2 centered">
			    <!-- Carousel
			    ================================================== -->
			    <div id="myCarousel" class="carousel slide" data-ride="carousel">
			      <div class="carousel-inner">
			        <div class="item active">
			          <%= image_tag("ui-01.jpg", size: "123", alt: "First Slide", class:"img-circle aligncenter") %>
			          <h3>Mark Turin</h3>
			          <hr class="aligncenter">
			          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
			        </div>
			        <div class="item">
			          <%= image_tag("ui-02.jpg", size: "123", alt: "Second Slide", class:"img-circle aligncenter") %>
			          <h3>Sarah Schmidt</h3>
			          <hr class="aligncenter">
			          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
			        </div>
			        <div class="item">   
					  <%= image_tag("ui-03.jpg", size: "123", alt: "Third Slide", class:"img-circle aligncenter") %>
			          <h3>Phil Carsons</h3>
			          <hr class="aligncenter">
			          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
			        </div>
			      </div>
			    </div><!-- /.carousel -->
			</div><!--/col-lg-8 -->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/testimonial -->


<!-- ********** REGISTER SECTION ********** --> 
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>Stay In Contact</h2>
				<hr class="aligncenter">
				<h4>We Are Social People</h4>
			</div><!-- /col-md-6-->
		</div><!--/row -->

		<div class="row">
			<div class="col-md-6 col-md-offset-3 mt centered">
				<form role="form" action="register.php" method="post" enctype="plain"> 
    				<input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
					<button class='btn btn-lg btn-green subscribe-submit' type="submit">Subscribe</button>
				</form>
			</div>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/g -->
