<!-- ********** CALL TO ACTION SECTION ********** --> 
<div id="cta">
	<div class="container">
		<div class="row">
			<h2>We're getting married.  Not sure if you knew that or not...</h2>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/CTA -->

<!-- ********** INTRODUCTION SECTION ********** --> 
<div class="container mt">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 centered">
			<h2> November 8, 2015</h2>
			<hr class="aligncenter">
			<h4>Fort Lauderdale, Florida</h4>
		</div><!-- /col-md-6-->
	</div><!--/row -->

	<div class="row mt">
		<div class="col-md-6">
			<p><i class="ion-android-information green alignleft"></i> Amy and Shane met waaaaaaay back in 2012.  After literally 10's of hours, they decided to meet.  "But I'm not really looking for anything serious," they both cried simultaneously.</p>
			<p class="mt"><i class="ion-android-information green alignleft"></i> Later that month, after they decided to become exclusively each other's #1, they made sure to tell each other "We'll never get married!"  They even cried that one in unison as well!</p>
			<p class="mt"><i class="ion-android-information green alignleft"></i> So yeah...that seemed to work really well, didn't it?</p>
		</div><!--/col-md-6 -->

		<div class="col-md-6 of">
			<%= image_tag("meeting.png", class:"img-responsive aligncenter", "data-effect":"slide-right") %>
		</div>
	</div><!--/row -->
</div><!--/container -->

<!-- ********** HOW IT WORKS SECTION ********** --> 
<div id="g">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>How This Works</h2>
				<hr class="aligncenter">
				<h4>Directions to the Shindig</h4>
			</div><!-- /col-md-6-->
		</div><!--/ row-->

		<div class="row mt">
			<div class="col-md-4">
				<h4 class="green">STEP 1</h4>
				<p>Find Ft. Lauderdale, Florida.  It's kinda near Miami, only north-ish.</p>
				<h4 class="green mt">STEP 2</h4>
				<p>Find East Las Olas Blvd. Go there, and scream.  We may hear you, we may not.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4">
				<%= image_tag("winning.jpg", class:"img-responsive aligncenter", "data-effect":"slide-bottom") %> 
			</div><!--/col-md-4-->
			<div class="col-md-4">
				<h4 class="green">STEP 3</h4>
				<p>If we do, you get to look like Amy!</p>
				<h4 class="green mt">STEP 4</h4>
				<p>If we don't, you get to look like Shane.  ¡Pobrecito!</p>
			</div><!--/col-md-4-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 col-md-offset-4 centered">
				<p>Want better instructions?</p>
				 <a target="_blank" href="https://www.google.com/maps/place/Historic+Maxwell+Room/@26.1173497,-80.1429658,17z/data=!4m7!1m4!3m3!1s0x88d90057e3812d2d:0xd2e83c4873db476d!2sHistoric+Maxwell+Room!3b1!3m1!1s0x88d90057e3812d2d:0xd2e83c4873db476d"><button class="btn btn-lg btn-green">Google Maps</button></a>
			</div><!--/col-md-4-->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/G -->

<!-- ********** CALL TO ACTION SECTION ********** --> 
<div id="cta">
	<div class="container">
		<div class="row">
			<h2>Come have brunch with us!</h2>
			<h2>Everything starts at Noon.  Be there a little before, so you can see Amy fall in the water as she tries to get off the water taxi!</h2>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/CTA -->

<!-- ********** FEATURES SECTION - Part 1 ********** --> 
<div class="container mt">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 centered">
			<i class="ion-compass green big"></i>
			<p class="green">It's kinda hard to find the Historic Maxwell Room.</p>
			<p class="text16">This is what the entrance looks like!</p>
			<p class="text16">Well....without us there, anyway</p>
		</div><!--/col-md-4-->
		<!-- <div class="col-md-4 centered">
			<i class="ion-disc green big"></i>
			<p class="green">Save on external devices</p>
			<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>/col-md-4-->
		<!-- <div class="col-md-4 centered">
			<i class="ion-earth green big"></i>
			<p class="green">Work in every place</p>
			<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>/col-md-4-->
	</div><!--/row -->

	<div class="row mt">
		<div class="col-md-12">
			<%= image_tag("entrance.jpg", class:"img-responsive aligncenter", "data-effect":"slide-bottom") %> 
		</div><!--/col-md-12-->
	</div><!--/row -->
</div><!--/container -->

<!-- ********** FEATURES SECTION - Part 2 ********** --> 
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>What You Need To Know</h2>
				<hr class="aligncenter">
				<h4></h4>
			</div><!-- /col-md-6-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 col-md-offset-4 centered">
				<a target="_blank" href="http://www.wanderable.com/hm/magicsugarwedding"><i class="ion-cube green big"></i></a>
				<p class="green">Presents?  I LOVE PRESENTS!</p>
				<p class="text16">Let's face it...we're adults.  We already HAVE everything we need for our house!  So we registered on Wanderable.  Help send us on our honeymoon!</p>
			</div><!--/col-md-4-->
			<!-- <div class="col-md-4 centered">
				<i class="ion-document-text green big"></i>
				<p class="green"></p>
				<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>/col-md-4-->
			<!-- <div class="col-md-4 col-md-offset-4 centered">
				<i class="ion-email green big"></i>
				<p class="green">Wanna email us?</p>
				<p class="text16">I put this really cool email image up here, but there's no way we're publishing our email addresses here!  Find us at "shamy" at this domain.</p>
			</div>/col-md-4-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 col-md-offset-4 centered">
				<i class="ion-eye green big"></i>
				<p class="green">Look for the water taxi!</p>
				<p class="text16">If you are staying at The Riverside Hotel, or are parking somewhere on Las Olas Blvd, the water taxi stops at our wedding venue - look for the Downtowner Saloon stop. There are 2 or 3 water taxi companies on the river - research and see what works best for you. For those attending the rehearsal dinner, there is a stop for that, too! Don't fall overboard, though - we can't help you what that party foul!</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 centered">
				<i class="ion-fireball green big"></i>
				<p class="green">Yes, it's November - But it's still hot!</p>
				<p class="text16">Dress up, dress down, dress like a pirate and shake your booty all around - we don't care! Seriously though, don't dress up - you'll be dressed nicer than the Groom. Be comfortable - it's a brunch wedding in Florida!</p>
			</div><!-- /col-md-4-->
			<div class="col-md-4 col-md-offset-4 centered">
				<i class="ion-heart green big"></i>
				<p class="green">Standing room only!</p>
				<p class="text16">Just kidding - kind of. There will be seats during the brief ceremony for those who need them, otherwise, please plan on standing for a short while. There will be seating in various places for when you choose to eat and relax.</p>
			</div><!--/col-md-4-->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/g -->

<!-- ********** TESTIMONIAL SECTION ********** --> 
<div id="testimonial">
	<div class="container">
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2 centered">
			    <!-- Carousel
			    ================================================== -->
			    <div id="myCarousel" class="carousel slide" data-ride="carousel">
			      <div class="carousel-inner">
			        <div class="item active">
			          <%= image_tag("almost-wife.jpg", size: "150", alt: "Almost-Wife", class:"img-circle aligncenter") %>
			          <h3>Almost-Wife</h3>
			          <hr class="aligncenter">
			          <p>There are many variations of the Almost-Wife, but none capture her essence quite so well.  She's funny, she's charming, and she's not afraid to show that when you lick it, you claim it!</p>
			        </div>
			        <div class="item">
			          <%= image_tag("almost-husband.jpg", size: "150", alt: "Almost-Husband", class:"img-circle aligncenter") %>
			          <h3>Almost Husband</h3>
			          <hr class="aligncenter">
			          <p>This dangerous looking specimen is now quite docile.  We have the Almost-Wife to thank for that.  Her other nickname is "Beauty that tamed the savage beard"  ...I think you can see why.</p>
			        </div>
			        <div class="item">   
				  <%= image_tag("ui-03.jpg", size: "123", alt: "Avocado Whisperer", class:"img-circle aligncenter") %>
			          <h3>The Avocado Whisperer</h3>
			          <hr class="aligncenter">
			          <p>As the Bride's Sister, she's fluent in all things Amy. She solves mysteries for a living and throws around weights heavier than you as a hobby. Plus, she has super powers that enable her to pick the perfect avocado at the GroSto - Every. Single. Time.</p>
			        </div>
				<div class="item">
                                  <%= image_tag("Chris.jpg", size: "123", alt: "SpaceNinja", class:"img-circle aligncenter") %>
                                  <h3>SpaceNinja</h3>
                                  <hr class="aligncenter">
                                  <p>He's a ninja, and he's from space.  What else could you POSSIBLY want to know about him?</p>
                                </div>
				<div class="item">
                                  <%= image_tag("ui-02.jpg", size: "123", alt: "Sports Chick", class:"img-circle aligncenter") %>
                                  <h3>Sports Chick</h3>
                                  <hr class="aligncenter">
                                  <p>This crafty one isn't just about sewing beautiful creations, she's a Broadway Nerd, Disney Fan Girl, and a massive sports fan (eff the Yankees). Debate trivia with her - we triple dog dare you!</p>
                                </div>
				<div class="item">
                                  <%= image_tag("Dennis.jpg", size: "123", alt: "Sapofeo", class:"img-circle aligncenter") %>
                                  <h3>Sapofeo</h3>
                                  <hr class="aligncenter">
                                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>
				<div class="item">
                                  <%= image_tag("ui-02.jpg", size: "123", alt: "The Demon", class:"img-circle aligncenter") %>
                                  <h3>The Demon</h3>
                                  <hr class="aligncenter">
                                  <p>She's 12 and she stomps grown men at CrossFit competitions, earning her the #makennathedemon hashtag. The Bride claims she is this girl's favorite Auntie, despite regularly embarrassing her in public. She's very pretty and very nice, but don't get in her way when she walks down the aisle and don't even THINK about stealing her flowers!</p>
                                </div>
				<div class="item">
                                  <%= image_tag("ui-02.jpg", size: "123", alt: "Murderous Lobster", class:"img-circle aligncenter") %>
                                  <h3>Murderous Lobster</h3>
                                  <hr class="aligncenter">
                                  <p>He's the 12 year old son of the Almost-Husband, and he's got a more eclectic palatte than you.  He's been known to feast on sushi and grilled octopus, then jump right into some serious video games.  Sometimes, he even beats his father!  And that makes Dad very very proud.</p>
                                </div>

			      </div>
			    </div><!-- /.carousel -->
			</div><!--/col-lg-8 -->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/testimonial -->


<!-- ********** REGISTER SECTION ********** --> 
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>Stay In Contact</h2>
				<hr class="aligncenter">
				<h4>We Are Social People</h4>
			</div><!-- /col-md-6-->
		</div><!--/row -->

		<div class="row">
		<form class="form-horizontal">
<fieldset>

<legend>RSVP</legend>

<div class="control-group">
  <label class="control-label" for="Exclamation"></label>
  <div class="controls">
    <input id="Exclamation" name="Exclamation" type="text" placeholder="Exclamation" class="input-small">!
    <p class="help-block">Wow/Crikey/Donkeys</p>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="adjective01">We are</label>
  <div class="controls">
    <input id="adjective01" name="adjective01" type="text" placeholder="Adjective" class="input-small">
    <p class="help-block">Confused/Enthusiastic/Bewildered</p>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="names01">to hear about your upcoming nuptials!</label>
  <div class="controls">
    <input id="names01" name="names01" type="text" placeholder="Your name(s)" class="input-small">
    <p class="help-block">Billy Bob Thorton and sons</p>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="adjective02">will be</label>
  <div class="controls">
    <input id="adjective02" name="adjective02" type="text" placeholder="Adjective" class="input-small">
    <p class="help-block">Mysterious/Exuberant/Crabby</p>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="rsvp01">to be</label>
  <div class="controls">
    <input id="rsvp01" name="rsvp01" type="text" placeholder="Attending/Missing" class="input-medium">
    <p class="help-block">Put your RSVP here!</p>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="number01">the sail-abration!  There are</label>
  <div class="controls">
    <input id="number01" name="number01" type="text" placeholder="537,219" class="input-small">label class="control-label" for="number01">people in our crew.*</label>
    <p class="help-block">Number of people attending</p>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="songs01">What song would get your booty on the dance floor?</label>
  <div class="controls">                     
    <textarea id="songs01" name="songs01">The Macarena</textarea>
	<p> *If you don't RSVP, make sure to bring a chair and a sandwich!</p>
  </div>
</div>

</fieldset>
</form>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/g -->
