<!-- ********** CALL TO ACTION SECTION ********** --> 
<div id="cta">
	<div class="container">
		<div class="row">
			<h2>We're getting married.  Not sure if you knew that or not...</h2>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/CTA -->

<!-- ********** INTRODUCTION SECTION ********** --> 
<div class="container mt">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 centered">
			<h2> November 8, 2015</h2>
			<hr class="aligncenter">
			<h4>Fort Lauderdale, Florida</h4>
		</div><!-- /col-md-6-->
	</div><!--/row -->

	<div class="row mt">
		<div class="col-md-6">
			<p><i class="ion-android-information green alignleft"></i> Amy and Shane met waaaaaaay back in 2012.  After literally 10's of hours, they decided to meet.  "But I'm not really looking for anything serious," they both cried simultaneously.</p>
			<p class="mt"><i class="ion-android-information green alignleft"></i> Later that month, after they decided to become exclusively each other's #1, they made sure to tell each other "We'll never get married!"  They even cried that one in unison as well!</p>
			<p class="mt"><i class="ion-android-information green alignleft"></i> So yeah...that seemed to work really well, didn't it?</p>
		</div><!--/col-md-6 -->

		<div class="col-md-6 of">
			<%= image_tag("meeting.png", class:"img-responsive aligncenter", "data-effect":"slide-right") %>
		</div>
	</div><!--/row -->
</div><!--/container -->

<!-- ********** HOW IT WORKS SECTION ********** --> 
<div id="g">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>How This Works</h2>
				<hr class="aligncenter">
				<h4>Directions to the Shindig</h4>
			</div><!-- /col-md-6-->
		</div><!--/ row-->

		<div class="row mt">
			<div class="col-md-4">
				<h4 class="green">STEP 1</h4>
				<p>Find Ft. Lauderdale, Florida.  It's kinda near Miami, only north-ish.</p>
				<h4 class="green mt">STEP 2</h4>
				<p>Find East Las Olas Blvd. Go there, and scream.  We may hear you, we may not.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4">
				<%= image_tag("winning.jpg", class:"img-responsive aligncenter", "data-effect":"slide-bottom") %> 
			</div><!--/col-md-4-->
			<div class="col-md-4">
				<h4 class="green">STEP 3</h4>
				<p>If we do, you get to look like Amy!</p>
				<h4 class="green mt">STEP 4</h4>
				<p>If we don't, you get to look like Shane.  ¡Pobrecito!</p>
			</div><!--/col-md-4-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 col-md-offset-4 centered">
				<p>Want better instructions?</p>
				 <a target="_blank" href="https://www.google.com/maps/place/Historic+Maxwell+Room/@26.1173497,-80.1429658,17z/data=!4m7!1m4!3m3!1s0x88d90057e3812d2d:0xd2e83c4873db476d!2sHistoric+Maxwell+Room!3b1!3m1!1s0x88d90057e3812d2d:0xd2e83c4873db476d"><button class="btn btn-lg btn-green">Google Maps</button></a>
			</div><!--/col-md-4-->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/G -->

<!-- ********** CALL TO ACTION SECTION ********** --> 
<div id="cta">
	<div class="container">
		<div class="row">
			<h2>Come have brunch with us!</h2>
			<h2>Everything starts at Noon.  Be there a little before, so you can see Amy fall in the water as she tries to get off the water taxi!</h2>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/CTA -->

<!-- ********** FEATURES SECTION - Part 1 ********** --> 
<div class="container mt">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 centered">
			<i class="ion-compass green big"></i>
			<p class="green">It's kinda hard to find the Historic Maxwell Room.</p>
			<p class="text16">This is what the entrance looks like!</p>
			<p class="text16">Well....without us there, anyway</p>
		</div><!--/col-md-4-->
		<!-- <div class="col-md-4 centered">
			<i class="ion-disc green big"></i>
			<p class="green">Save on external devices</p>
			<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>/col-md-4-->
		<!-- <div class="col-md-4 centered">
			<i class="ion-earth green big"></i>
			<p class="green">Work in every place</p>
			<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>/col-md-4-->
	</div><!--/row -->

	<div class="row mt">
		<div class="col-md-12">
			<%= image_tag("entrance.jpg", class:"img-responsive aligncenter", "data-effect":"slide-bottom") %> 
		</div><!--/col-md-12-->
	</div><!--/row -->
</div><!--/container -->

<!-- ********** FEATURES SECTION - Part 2 ********** --> 
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>What You Need To Know</h2>
				<hr class="aligncenter">
				<h4></h4>
			</div><!-- /col-md-6-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 col-md-offset-4 centered">
				<a target="_blank" href="http://www.wanderable.com/hm/magicsugarwedding"><i class="ion-cube green big"></i></a>
				<p class="green">Presents?  I LOVE PRESENTS!</p>
				<p class="text16">Let's face it...we're adults.  We already HAVE everything we need for our house!  So we registered on Wanderable.  Help send us on our honeymoon!</p>
			</div><!--/col-md-4-->
			<!-- <div class="col-md-4 centered">
				<i class="ion-document-text green big"></i>
				<p class="green"></p>
				<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>/col-md-4-->
			<div class="col-md-4 col-md-offset-4 centered">
				<i class="ion-email green big"></i>
				<p class="green">Wanna email us?</p>
				<p class="text16">I put this really cool email image up here, but there's no way we're publishing our email addresses here!  Find us at "shamy" at this domain.</p>
			</div><!--/col-md-4-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 col-md-offset-4 centered">
				<i class="ion-eye green big"></i>
				<p class="green">Engagement Photos!</p>
				<p class="text16">We finally had pictures taken of us that we actually LIKE.  Strange for us.  Really REALLY strange.</p>
			</div><!--/col-md-4-->
			<!-- <div class="col-md-4 centered">
				<i class="ion-fireball green big"></i>
				<p class="green">Hot trends used</p>
				<p class="text16">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>/col-md-4-->
			<div class="col-md-4 col-md-offset-4 centered">
				<i class="ion-heart green big"></i>
				<p class="green">We Lubs You</p>
				<p class="text16">That's why we invited you!</p>
			</div><!--/col-md-4-->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/g -->

<!-- ********** TESTIMONIAL SECTION ********** --> 
<div id="testimonial">
	<div class="container">
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2 centered">
			    <!-- Carousel
			    ================================================== -->
			    <div id="myCarousel" class="carousel slide" data-ride="carousel">
			      <div class="carousel-inner">
			        <div class="item active">
			          <%= image_tag("almost-wife.jpg", size: "150", alt: "Almost-Wife", class:"img-circle aligncenter") %>
			          <h3>Almost-Wife</h3>
			          <hr class="aligncenter">
			          <p>There are many variations of the Almost-Wife, but none capture her essence quite so well.  She's funny, she's charming, and she's not afraid to show that when you lick it, you claim it!</p>
			        </div>
			        <div class="item">
			          <%= image_tag("almost-husband.jpg", size: "150", alt: "Almost-Husband", class:"img-circle aligncenter") %>
			          <h3>Almost Husband</h3>
			          <hr class="aligncenter">
			          <p>This dangerous looking specimen is now quite docile.  We have the Almost-Wife to thank for that.  Her other nickname is "Beauty that tamed the savage beard"  ...I think you can see why.</p>
			        </div>
			        <div class="item">   
				  <%= image_tag("ui-03.jpg", size: "123", alt: "Third Slide", class:"img-circle aligncenter") %>
			          <h3>GroSto Queen</h3>
			          <hr class="aligncenter">
			          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
			        </div>
				<div class="item">
                                  <%= image_tag("Chris.jpg", size: "123", alt: "Second Slide", class:"img-circle aligncenter") %>
                                  <h3>SpaceNinja</h3>
                                  <hr class="aligncenter">
                                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>
				<div class="item">
                                  <%= image_tag("ui-02.jpg", size: "123", alt: "Second Slide", class:"img-circle aligncenter") %>
                                  <h3>Sewy McCrafterson</h3>
                                  <hr class="aligncenter">
                                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>
				<div class="item">
                                  <%= image_tag("Dennis.jpg", size: "123", alt: "Second Slide", class:"img-circle aligncenter") %>
                                  <h3>Sapofeo</h3>
                                  <hr class="aligncenter">
                                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>
				<div class="item">
                                  <%= image_tag("ui-02.jpg", size: "123", alt: "Second Slide", class:"img-circle aligncenter") %>
                                  <h3>The Demon</h3>
                                  <hr class="aligncenter">
                                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>
				<div class="item">
                                  <%= image_tag("ui-02.jpg", size: "123", alt: "Second Slide", class:"img-circle aligncenter") %>
                                  <h3>Murderous Lobster</h3>
                                  <hr class="aligncenter">
                                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>

			      </div>
			    </div><!-- /.carousel -->
			</div><!--/col-lg-8 -->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/testimonial -->


<!-- ********** REGISTER SECTION ********** --> 
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>Stay In Contact</h2>
				<hr class="aligncenter">
				<h4>We Are Social People</h4>
			</div><!-- /col-md-6-->
		</div><!--/row -->

		<div class="row">
			<div class="col-md-6 col-md-offset-3 mt centered">
				<form role="form" action="register.php" method="post" enctype="plain"> 
    				<input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
					<button class='btn btn-lg btn-green subscribe-submit' type="submit">Subscribe</button>
				</form>
			</div>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/g -->
